### a.	Write a program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

In [1]:
n = int(input("Emter n value!.."))
d = {} # create one empty dictionary
for i in range(1,n+1):
    d[i] = i*i # assign the result to dictionary
print(d)

Emter n value!..10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### b.	Write a program to perform union, intersection and difference using Set A and Set B.

#### union:  It returns a set that contains all items from both sets. duplicates are excluded.

In [2]:
a = {10,20,30,10,40}
b = {10,20,56,78,20,10}
res = a.union(b)
res

{10, 20, 30, 40, 56, 78}

In [3]:
x = {'apple','banana','mango'}
y = {'cherry','apple','tomato'}
res1 = x.union(y)
res1

{'apple', 'banana', 'cherry', 'mango', 'tomato'}

### intersection: It return a set that contains items that exist in both sets.

In [6]:
s1 = {10,20,30,40,50}
s2 = {24,56,700,10,34,50,40}
res2 = s1.intersection(s2)
res2

{10, 40, 50}

### difference() : It returns a set that contains the items that only exist in set 1 , and not in set 2.

In [9]:
s1 = {'apple','banana','mango'}
s2 = {'tcs','wipro','apple','facebook'}
res3 = s1.difference(s2)
res3

{'banana', 'mango'}

### c.	Write a program to count number of vowels using sets in given string (Input : “Hello World”, Output: No. of vowels : 3)

In [14]:
s1 = input("Enter string!..")
vowel = set("aeiouAEIOU")
count = 0
for i in s1:
    if i in vowel:
        count = count+1
print("No. of vowels :",count)

Enter string!..APSSDC
No. of vowels : 1

### d.	Write a program to form concatenated string by taking uncommon characters from two strings using set concept (Input : S1 = "aacdb", S2 = "gafd", Output : "cbgf").

In [8]:
s1 = input("Enter s1 string: ")
s2 = input("Enter s2 string: ")
set1 = set(s1)
set2 = set(s2)
print(set1)
print(set2)
# to get the common characters using intesection
res = set1 & set2
print("common characters",res)
# to get the uncommon charcters
k =[i for i in s1 if i not in res] + [i for i in s2 if i not in res]
print("uncomman characters: ",k)
print(''.join(k))

Enter s1 string: aacbd
Enter s2 string: gafd
{'a', 'd', 'b', 'c'}
{'f', 'a', 'd', 'g'}
common characters {'a', 'd'}
uncomman characters:  ['c', 'b', 'g', 'f']
cbgf