### . Write a program to do the following operations:
i.	Create a empty dictionary with dict() method
ii.	Add elements one at a time
iii.	Update existing key‟s value
iv.	Access an element using a key and also get() method
v.	Deleting a key value using del() method

In [24]:
# i.	Create a empty dictionary with dict() method
d1 = dict()
print(d1)
print(type(d1))

{}
<class 'dict'>

In [25]:
# ii.	Add elements one at a time
d1['name'] ='raju'
d1['rollno']=510
d1['branch']='ece'
d1[1]=100
d1[2]='apssdc'
print(d1)

{'name': 'raju', 'rollno': 510, 'branch': 'ece', 1: 100, 2: 'apssdc'}

In [8]:
# iii.	Update existing key‟s value
print(d1)
d1['rollno'] = 410
d1[1]='tcs'
print(d1)

{'name': 'raju', 'rollno': 410, 'branch': 'ece', 1: 100, 2: 'apssdc'}
{'name': 'raju', 'rollno': 410, 'branch': 'ece', 1: 'tcs', 2: 'apssdc'}

In [11]:
# iv.	Access an element using a key and also get() method
# dictionary.get(keyname)
print(d1)
print(d1.get('name'))
print(d1.get(1))

{'name': 'raju', 'rollno': 410, 'branch': 'ece', 1: 'tcs', 2: 'apssdc'}
raju
tcs

In [27]:
# v.	Deleting a key value using del() method
print(d1)
print(d1.pop(2))

{'name': 'raju', 'rollno': 510, 'branch': 'ece', 1: 100, 2: 'apssdc'}
apssdc

In [28]:
d1

{'name': 'raju', 'rollno': 510, 'branch': 'ece', 1: 100}

### Write a program to create a dictionary and apply the following methods:
i.	pop() method
ii.	popitem() method
iii.	clear() method

In [31]:
d2 = {1:100,2:200,3:300,'age':23,'branch':'ece',4:3.4}
#i.	pop() method
print(d2.pop(1))

100

In [32]:
print(d2)

{2: 200, 3: 300, 'age': 23, 'branch': 'ece', 4: 3.4}

In [34]:
# ii.	popitem() method
# to deletet the last item from the dictionary..
print(d2.popitem())

(4, 3.4)

In [35]:
print(d2)

{2: 200, 3: 300, 'age': 23, 'branch': 'ece'}

In [37]:
# iii.	clear() method
# del()-> delete the entaire dictionary.
# clear()-> only delete the data from the dictionary..
print(d2)
print(d2.clear())
print(d2)

{2: 200, 3: 300, 'age': 23, 'branch': 'ece'}
None
{}

In [38]:
d2

{}

### . Given a dictionary, write a program to find the sum of all items in the dictionary.

In [42]:
d3 = {'a':23,'b':10,'c':45,'d':100}
sum1 = 0
for i in d3.values():# by using d3.values to get only dicitonary values..
    sum1 = sum1 + i
print("sum is : ",sum1)

sum is :  178

### d. Write a program to merge two dictionaries using update() method.

In [45]:
dict1 = {'a':100,'b':200,'c':300}
dict2 ={'name':'nethra','rollno':410,'branch':'ECE'}
dict1.update(dict2)
print(dict1)

{'a': 100, 'b': 200, 'c': 300, 'name': 'nethra', 'rollno': 410, 'branch': 'ECE'}