### python basics
        - hello world printing
        - data types
        - type conversions
        - input methods
        - variable assigning
        - keywords
        - comments

In [2]:
print("hello world")

hello world

In [3]:
print("Hai guys wecome to python workshop")

Hai guys wecome to python workshop

In [4]:
print("welcome "+" to python programming")

welcome  to python programming

### Data Types:
        - integer-int()- it holds integer data only
        - string-str()- it holds the string type data
        - float-float()- it holds the float type data

In [7]:
type(109789877978979798997)

int

In [9]:
type(89.909089809900)

float

In [14]:
type('pythonjgkjgkjgkjgkjhjgh')

str

#### varaible:
       - To store the data
#### Rules:
       - variable name should starts with letters and underscore(_)
               ex: a=67
                   _a=89
       - variable name should starts with letters followed by digits
               ex: a12=34
       - variable name should not starts with digits and any specialcharacters(#,%,^)
               ex:12=34
               ex:@123=78

In [15]:
## initialization of variable
a=89
print(a)

89

In [17]:
_ab=90
print(_ab)

90

In [18]:
a123='python'
print(a123)

python

In [19]:
123a="python"
print(123a)

SyntaxError: invalid syntax (<ipython-input-19-31e78a291b21>, line 1)

In [20]:
@="string"
print(@)

SyntaxError: invalid syntax (<ipython-input-20-d1a5d2c26530>, line 1)

## Type conversions
    - integer- str
    - str- int
    - int- float

In [26]:
### to convert the int to str
m=123
n=str(m)
print(type(m))
print(type(n))

<class 'int'>
<class 'str'>

In [36]:
### to convert str to int
a="python"
m=int(a)
print(type(a))
print(m)

ValueError: invalid literal for int() with base 10: 'python'

In [35]:
b="52252225232"
l=int(b)
print(type(b))
print(type(l))

<class 'str'>
<class 'int'>

In [33]:
c="python123"
k=int(c)
print(type(c))
print(k)

ValueError: invalid literal for int() with base 10: 'python123'

In [42]:
### To convert int- float
f1=234
f2=float(f1)
f3=int(f2)
print(type(f1))
print(type(f2))
print(type(f3))

<class 'int'>
<class 'float'>
<class 'int'>