#### Day Objectives:
    - Dictionary
    - sets
    - list comprehension

In [1]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
### popitem(),clear(),fromkeys()

In [ ]:
### popitem():
    - to delete the last item from the dict
    - dict_name.popitem()

In [3]:
d1={'a':100,'name':'siri','branch':'CSE','cgpa':7.0}
print(d1)
print(type(d1))

{'a': 100, 'name': 'siri', 'branch': 'CSE', 'cgpa': 7.0}
<class 'dict'>

In [4]:
print(d1.popitem())

('cgpa', 7.0)

In [5]:
print(d1)

{'a': 100, 'name': 'siri', 'branch': 'CSE'}

## from keys():
    - it returns the new dict
    - variable_name=dict.fromkeys(values)

In [7]:
l1=[1,2,3]
d2=dict.fromkeys(l1)
d2[1]='python'
d2[2]='string'
d2[3]=100
print(d2)

{1: 'python', 2: 'string', 3: 100}

In [ ]:
### clear():
    - to clear the data from dict
    - dict_name.clear()

In [9]:
d1

{'a': 100, 'name': 'siri', 'branch': 'CSE'}

In [10]:
print(d1.clear())

None

In [11]:
print(d1)

{}

In [12]:
print(d2)

{1: 'python', 2: 'string', 3: 100}

In [13]:
print(d2.clear())

None

In [14]:
print(d2)

{}

In [23]:
## using for loop we can get dict values
d1={'name':'srikanya','rollnumber':130659,'branch':'CSE','cgpa':7.0}
print(d1)
for j in d1:
    print(j,end=" ")# to get the key names only
print()
for j in d1.values():# to get the values from dict
    print(j,end=" ")
print()
for j in d1.items():
    print(j)
print("===================")
for i,j in d1.items():
    print(i,'--->',j)

{'name': 'srikanya', 'rollnumber': 130659, 'branch': 'CSE', 'cgpa': 7.0}
name rollnumber branch cgpa
srikanya 130659 CSE 7.0
('name', 'srikanya')
('rollnumber', 130659)
('branch', 'CSE')
('cgpa', 7.0)
===================
name ---> srikanya
rollnumber ---> 130659
branch ---> CSE
cgpa ---> 7.0

In [25]:
d3={1:20,2:45,3:56,4:79}
# to print the only even keys
for i in d3:
    if i%2==0:
        print(i)

2
4

In [26]:
d3={1:20,2:45,3:56,4:79}
# to print the only even keys
for i in d3:
    if i%2!=0:
        print(i)

1
3

In [ ]:
## to read the two inputs from user and stored those data into dict

In [27]:
d={}
key=input("enter key name here")
value=input("enter value here")
d[key]=value
print(d)

enter key name herename
enter value heresrikanya
{'name': 'srikanya'}

In [ ]:
##### i/p:['apssdc','vec','srit']
#### o/p:{'apssdc':6,'vec':3,'srit':4}

In [31]:
l1=['apssdc','vec','srit']
d={}
for i in l1:
    d[i]=len(i)
print(d)

{'apssdc': 6, 'vec': 3, 'srit': 4}

In [ ]:
#### sets:
    - it is unordered and unindexed
    - in python sets are written curly brackets({})
    - in sets data cant update but we can add new data
    - it does not allow duplicates

In [32]:
## to create the empty set using set data type
s=set()
print(s)

set()

In [33]:
print(type(s))

<class 'set'>

In [35]:
### to assign values to set...
s={10,20,78,90,67,56,45,34,23}
print(s)
print(type(s))

{34, 67, 10, 45, 78, 20, 23, 56, 90}
<class 'set'>

In [36]:
for i in s:
    print(i,end=" ")

34 67 10 45 78 20 23 56 90

In [37]:
### set methods
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
## add():
    - we can add new element to the set
    - set_name.add(element)

In [40]:
print(s)
print(s.add(100))
print(s)
print(s.add(30))
print(s)

{34, 67, 100, 10, 45, 78, 20, 23, 56, 90}
None
{34, 67, 100, 10, 45, 78, 20, 23, 56, 90}
None
{34, 67, 100, 10, 45, 78, 20, 23, 56, 90, 30}

In [ ]:
### update():
    - by using update method we can add multiple values
    - set_name.update([list of data])

In [43]:
print(s)
print(s.update([22,45,34]))
print(s)

{34, 67, 100, 10, 45, 78, 20, 22, 23, 56, 90, 30}
None
{34, 67, 100, 10, 45, 78, 20, 22, 23, 56, 90, 30}

In [ ]:
### copy():
    - to copy the data from one set to another set
    - set_name.copy()

In [44]:
print(s)

{34, 67, 100, 10, 45, 78, 20, 22, 23, 56, 90, 30}

In [45]:
s1=s.copy()
print(s1)

{34, 67, 100, 10, 45, 78, 20, 22, 23, 56, 90, 30}

In [ ]:
### remove():
    - to remove element from the set
    - set_name.remove(element)

In [46]:
print(s1)

{34, 67, 100, 10, 45, 78, 20, 22, 23, 56, 90, 30}

In [47]:
print(s1.remove(100))

None

In [48]:
print(s1)

{34, 67, 10, 45, 78, 20, 22, 23, 56, 90, 30}

In [ ]:
## discard():
    - set_name.discard(element)

In [51]:
print(s)
print(s.discard(78))
print(s)

{34, 67, 100, 10, 45, 20, 22, 23, 56, 90, 30}
None
{34, 67, 100, 10, 45, 20, 22, 23, 56, 90, 30}

In [53]:
print(s1.discard(10))
print(s1)

None
{34, 67, 45, 78, 20, 22, 23, 56, 90, 30}

In [ ]:
#### pop():
    - to delete the element from set-->first deletion
    - set_name.pop()

In [57]:
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)

{78, 20, 22, 23, 56, 90, 30}
{20, 22, 23, 56, 90, 30}
{22, 23, 56, 90, 30}
{23, 56, 90, 30}

In [ ]:
### union()
### intersection()
### difference()

In [ ]:
### union():
    - to combine two sets
    - set1.union(set2)

In [58]:
set1={1,3,6}
set2={'a','n','m'}
s3=set1.union(set2)
print(s3)

{1, 3, 'n', 6, 'a', 'm'}

In [ ]:
### intersection():
    - it returns common elements from both sets
    - set1.intersection(set2)

In [59]:
set1={6,7,8,9,0}
set2={5,6,0,2,7,3}
s3=set1.intersection(set2)
print(s3)

{0, 6, 7}

In [ ]:
### difference():
    - the elements that are only in set a,not only in set b
    - set1.difference(set2)

In [60]:
set1={6,7,8,9,0}
set2={5,6,0,2,7,3}
s3=set1.difference(set2)
print(s3)

{8, 9}

### list comprehension:
    - to create the new list from another iterable
    - syntax:
        list_name=[output forloop conditional statements]

In [61]:
### to generate the natural numbers from 1 to 10

for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [63]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
l=[i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
### to print even number using lc
l=[i for i in range(1,100) if i%2==0]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
### tasks:
    - i/p:[89,90,67,45]-[90,89,67,45]
    - o/p:second largest number-89

In [ ]:
### unique elements
    - i/p:[8,9,0,6,7,8,9,4,5,6,3]
    - o/p:[8,9,0,6,7,4,5,3]